<% content_for(:title) do -%>
  <%= link_to '統計情報', sales_path(year: @year, month: @month), class: 'navbar-title-link' %> ＞ <%= @place.name %>
<% end -%>
<% today = Date.today -%>
<div class="mdc-layout-grid no-margin-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <select-detail-month :place-id="<%= @place.id %>" :year="<%= @year %>" :month="<%= @month %>"></select-detail-month>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <%= @place.name %>
    </div>
  </div>
</div>

<table class="ui blue celled table">
  <thead>
    <tr>
      <th>種別</th>
      <th>現金売上</th>
      <th>プリペイド売り上げ</th>
    </tr>
  </thead>
  <tbody>
    <% @wash_sales_by_month.each do |sale| -%>
    <tr>
      <td><%= sale.equipment_num %>号機</td>
      <td class="number"><%= sale.cash_sales_amount&.to_s(:delimited) %></td>
      <td class="number"><%= sale.prepaid_sales_amount&.to_s(:delimited) %></td>
    </tr>
    <% end -%>
    <% @spray_sales.each do |sale| -%>
    <tr>
      <td>スプレー<%= sale.equipment_num %></td>
      <td class="number"><%= sale.cash_sales_amount&.to_s(:delimited) %></td>
      <td class="number"><%= sale.prepaid_sales_amount&.to_s(:delimited) %></td>
    </tr>
    <% end -%>
  </tbody>
  <% wash_and_spray_sales = (@wash_sales_by_month + @spray_sales) %>
  <tfoot>
    <tr>
      <th class="center">合計</th>
      <th class="number"><%= wash_and_spray_sales.sum(&:cash_sales_amount)&.to_s(:delimited) %></th>
      <th class="number"><%= wash_and_spray_sales.sum(&:prepaid_sales_amount)&.to_s(:delimited) %></th>
    </tr>
  </tfoot>
</table>

<% if @wash_sales_by_month.blank? && @spray_sales.blank? %>
  データがありません
<% end %>
