<% content_for(:title) do -%>
  <%= link_to '統計情報', sales_path(year: @year, month: @month), class: 'navbar-title-link' %> ＞ <%= @place.name %>
<% end -%>
<% today = Date.today -%>
<select-detail-month :place-id="<%= @place.id %>" :year="<%= @year %>" :month="<%= @month %>"></select-detail-month>

<table class="ui blue celled table">
  <thead>
    <tr>
      <th>種別</th>
      <th>現金売上</th>
      <th>プリペイド売り上げ</th>
    </tr>
  </thead>
  <tbody>
    <% @wash_sales_by_month.each do |sale| -%>
    <tr>
      <td><%= sale.equipment_num %>号機</td>
      <td class="number"><%= sale.cash_sales_amount&.to_s(:delimited) %></td>
      <td class="number"><%= sale.prepaid_sales_amount&.to_s(:delimited) %></td>
    </tr>
    <% end -%>
    <% @spray_sales.each do |sale| -%>
    <tr>
      <td>スプレー<%= sale.equipment_num %></td>
      <td class="number"><%= sale.cash_sales_amount&.to_s(:delimited) %></td>
      <td class="number"><%= sale.prepaid_sales_amount&.to_s(:delimited) %></td>
    </tr>
    <% end -%>
  </tbody>
</table>

<% if @wash_sales_by_month.blank? && @spray_sales.blank? %>
  データがありません
<% end %>
