<!DOCTYPE html>
<html>
  <head>
    <title>Washmanq</title>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Language" content="ja">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :head %>
  </head>

  <body class="mdc-typography mdc-drawer-scroll-lock">
    <div id="vue_root">
      <%= render 'layouts/header' %>
      <div class="top-content mdc-toolbar-fixed-adjust">
        <%= render 'layouts/nav' %>
        <main class="main-content">
          <message-bar></message-bar>
          <spinner></spinner>
          <%= yield %>
        </main>
      </div>
    </div>
    <script>
      $(document).on('ready page:load', function(){
        <%= yield :script %>
      })
    </script>
  </body>
</html>
