<!DOCTYPE html>
<html>
  <head>
    <title>Washmanq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </head>
    <%= yield :head %>
  </head>

  <body class="mdc-typography mdc-drawer-scroll-lock">
    <div id="vue_root">
      <%= render 'layouts/header' %>
      <div class="content mdc-toolbar-fixed-adjust">
        <%= render 'layouts/nav' %>
        <main class="main-content">
          <message-bar></message-bar>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
